# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: $IMAGE_CONTAINER
    docker:
      # Image tool container
      - image: ${ECR_REPOSITORY}/${ECR_REPO_NAME}:image-tools-circleci
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
              docker build --no-cache -t $IMAGE_CONTAINER .
      - run:
          name: Archive Docker Image
          command: |
              docker save -o image.tar $IMAGE_CONTAINER
      - persist_to_workspace:
           root: .
           paths:
             - ./image.tar
  publish_latest:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
#      - run:
#          name: Install test tools
#          command: curl -fsSL https://goss.rocks/install | sh
      - run:
          name: Test the container
          command: |
              docker run -d -p 5000:3000 -p 5858:5858 --restart=always --name cica-online-test $IMAGE_CONTAINER:latest
              docker ps        
              docker stop cica-online-test
              docker ps
  push_image:
    executor: docker-publisher
    steps:
      - run:
          name: Authenticate and push image to ecr
          command: |
              $(aws ecr get-login --region eu-west-1 --no-include-email)
              if [ "${CIRCLE_BRANCH}" == "master" ]; then
                 docker tag $IMAGE_CONTAINER:latest ${ECR_REPOSITORY}/${ECR_REPO_NAME}:circleci-online-dev
                 docker push ${ECR_REPOSITORY}/${ECR_REPO_NAME}:circleci-online-dev
              fi

  deploy_to_dev:
    executor: docker-publisher
    steps:
      - setup_remote_docker
      - run:
          name: Deploy to the cluster
          command: |
              $(aws ecr get-login --region eu-west-1 --no-include-email)
              setup-kube-auth
              kubectl config use-context development
              if [ "${CIRCLE_BRANCH}" == "master" ]; then
                 ./deploy_dev.sh
              else 
                 echo "You cannot deploy ${CIRCLE_BRANCH} branche.. Only master brache can be deployed!"
              fi



workflows:
  version: 2
  build-test-push-deploy:
    jobs:
      - build
      - publish_latest:
           requires:
             - build
      - push_image:
           requires:
             - publish_latest
           filters:
             branches:
               only: develop
      - deploy_to_dev:
           type: approval
           requires:
             - push_image
           filters:
             branches:
               only: develop





#      - push:
#          requires:
#            - build
#          filters:
#            branches:
#              only: develop
#      - deploy:
#          requires:
#             - push
#          filters:
#             branches:
#                only: develop



#  test
