{% extends 'layout.njk' %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    <p>{{questionnaireId}}</p>
    <p>{{questionnaireName}}</p>
{% endblock %}
