<p>This form post ended in a validation result of: VALID. Well done!</p>
<p>STEPHEN, It is now your job to hook up the complex routin' tootin'!</p>
<p>This is the yay.njk template file</p>
<p>Search for 'res.render('yay');', and you will find when I am called</p>